.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

h1 {
color: rgb(68, 0, 255);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #cdd3d4;
}
main {
  max-width: 1024px;
  display: flex;
  margin: 0 auto;
}

.nav {
  background-color: aqua;
}

ul {
  
  list-style-type: none;
  max-width: 800px;
  max-height: 30px;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .App {
    flex-direction: column;
    align-items: center;
  }
}

/* .Articles {
  display: flex;
} */